$max-width: 153.6rem;
// $max-width: 183.4rem;
$sportsee-primary-red: #ff0101;
$sportsee-secondary-red: #e60000;
$sportsee-secondary-black: #020203;
$sportsee-primary-black: #000000;
$sportsee-primary-purple: #551a8b;
$sportsee-white: #ffffff;
