@import "/src/styles/main.scss";


.footer{
display: flex;
justify-content: center;
border-top: 2px solid rgb(204, 204, 204);
padding: 3.2rem 0px 2.4rem;
// position:absolute;
// width: 100%;
// bottom: 0px;
}